body {
  font-family: Arial, sans-serif;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.experiencia, .educacion {
  margin-bottom: 30px;
}

.trabajo, .institucion {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.trabajo h3, .institucion h3 {
  color: #333;
}

.trabajo p, .institucion p {
  color: #666;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.boton{
  position: absolute;
  top: 20px; /* Ajusta esta propiedad para la distancia desde arriba */
  left: 20px; /* Ajusta esta propiedad para la distancia desde la izquierda */
  text-decoration: none;
}